@import "../../global.scss";

li {
	font-size: 15px;
	margin-right: 50px;
	padding: 10px 20px;
	border-radius: 10px;
	cursor: pointer;
	transition: all 1s ease;

	@include mobile {
		margin-right: 30px;
		padding: 5px 10px;
	}

	&.active {
		background-color: $mainColor;
		color: white;
	}
}
